Diakmunka adatbazis munka tábla

In [3]:
select min(oradij) as 'Minimum óradíj',
AVG(oradij) as 'Átlag óradíj',
MAX(oradij) as 'Maximum óradíj'
from munka
where oradij is not null

Minimum óradíj,Átlag óradíj,Maximum óradíj
200,346,500

In [25]:
select allas,
min(oradij) as 'Álláshoz tartozó minimum óradíj',
AVG(oradij) as 'Álláshoz tartozó átlag óradíj',
MAX(oradij) as 'Álláshoz tartozó maximum óradíj'
from munka
group by allas
order by max(oradij) desc

allas,Álláshoz tartozó minimum óradíj,Álláshoz tartozó átlag óradíj,Álláshoz tartozó maximum óradíj
eladó,300,387,500
kisegítő,300,350,500
pincér,450,450,450
kézbesítő,400,425,450
ruhatáros,200,266,400
takarító,250,333,400
ügyfélszolgálati munkatárs,300,300,300
raktáros,300,300,300
futár,300,300,300

In [7]:
select allas, count(allas) as 'Állás gyakorisága'
from munka
group by allas
order by count(allas) desc

allas,Állás gyakorisága
eladó,12
takarító,9
ruhatáros,6
raktáros,4
kisegítő,4
pincér,2
kézbesítő,2
ügyfélszolgálati munkatárs,1
futár,1

In [27]:
select count(oraszam) as 'Összes vállalt óraszám',
case
    when kozepiskolas = 1 then 'Középiskolás'
    when kozepiskolas = 0 then 'Nem középiskolás'
end as 'tanul-e'
from munka
group by rollup(kozepiskolas)

Összes vállalt óraszám,tanul-e
25,Nem középiskolás
16,Középiskolás
41,NULL

In [56]:
SELECT 
    COUNT(IIF(DiakAz IS NULL, 1, NULL)) AS 'Null értékek száma', 
    COUNT(IIF(DiakAz IS NULL, 1, NULL)) / CAST(COUNT(*) AS FLOAT) * 100 AS 'Null értékek százalékos aránya' 
FROM 
    munka;

Null értékek száma,Null értékek százalékos aránya
10,"24,390243902439025"